* {
    font-family: "Open Sans", sans-serif;
}

.help_link{
    color: rgb(60, 111, 252);
}

.help_link:hover{
    text-decoration: underline;
}

.input_comments{
    border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}


.input_comments:focus{
    border-color: initial;
    box-shadow: none;
}

.dropdown-toggle::after {
    display: none; /* Скрываем стрелку */
}

.no-click-effect:focus, /* Убираем эффекты при фокусе */
.no-click-effect:hover, /* Убираем эффекты при наведении */
.no-click-effect.active { /* Убираем эффекты в активном состоянии */
  background-color: transparent !important; /* Устанавливаем прозрачный фон */
  border-color: transparent !important; /* Устанавливаем прозрачную обводку */
  box-shadow: none !important; /* Убираем тень */
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent; /* Убираем фоновый цвет при фокусе или наведении */
  color: inherit; /* Сохраняем цвет текста */
  text-decoration: none; /* Убираем подчеркивание текста */
  outline: none; /* Убираем контур фокуса */
}

/*///////// HEADER ///////////// */

.header_div{
    height: 80px;
}

.navlink span{
    cursor: pointer;
}
.navlink span:hover{
    /* text-decoration:underline; */
    color: #c2c2c2;
}


.navbar_button{
    height: 43px;
    width: 137px;
}

/*///////// DEVICE ITEM ///////////*/

.list-group-item.active {
    background-color: #ee7b30; 
    border: none;
}

.pagination .page-item.active .page-link{
    background-color: #588B8B;
    border: none;
}

.device_item:hover{
    box-shadow: 0 0 1px #000000;
}

.device_item{
    /* margin-right: 20px; */
    
    /* border-radius: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.device_item h3:hover{
    text-decoration: underline;
}

.device_item_name{
    color: #000;
    font-weight: bold;
}

.device_item_description{
    color: #666;
}

.device_item_price{
    color: #cf3838; /* #9B1D20 */
}

/* ////////// Product Page /////////// */

.device_rating{
    display: flex;
    flex-direction: row;
}

.device_rating span{
    margin-top: -8px;
    margin-left: 5px;
}

.device_button{
    width: 170px;
    padding: 5px;
}

.device_card{
    padding: 10px;
}

.device_card h4{
    margin-top: 5px;
}

.type_list_item:hover{
    background-color: orange;
}

.ann{
    width: 837px;
    height: 200px;
    background-color: blue;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -12px;
}


/* /////////// FOOTER ////////////// */

svg{
    margin-right: 20px;
}

.text-reset{
    cursor: pointer;
    text-decoration: none;
}

.text-reset:hover{
    text-decoration: none;
}

